<div class="container">
  <h1>lists#edit - <%= @list.name %></h1>
  <%= render "form", list: @list %>

  <hr>

  <div>
    <%= link_to "Show List", list_path %>
    <%= link_to "Back to lists", list_path %>
</div>
