<div class="container">
  <h1>Lists#index</h1>
  <hr>
  <div id="lists">
    <% @lists.each do |list| %>
      <p><%= link_to list.name, list %> <%= list.id %></p>
    <% end %>
    <hr>
  </div>

  <%= link_to "Create New list", new_list_path %>
</div>
