<div class="container">
  <h1>Bookmark#new ( Create New Bookmark )</h1>
  <%= render "form", bookmark: [@list, @bookmark]  %>

  <hr>

  <div>
    <%= link_to "back to lists", lists_path %>
  </div>
</div>
